/* Additional styles for the background */
.background {
    background-image: url('bg.jpg'); /* Background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    height: 100vh; /* Full viewport height */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; /* Using Arial font */
}

/* Styles for the banner */
.banner {
    background-color: #ffcccc; /* Red background color with opacity */
    margin-top: 20px;
    padding: 20px; /* Padding around the content */
    text-align: center; /* Center align text */
    border: 2px solid red;
    border-color: red;
}

/* Styles for h1 in the banner */
.banner h1 {
    font-size: 30px; /* Font size */
    color: rgb(243, 5, 5); /* Text color */
    text-shadow: 1px 1px 1px #000000; /* Text shadow effect */
    margin-bottom: 20px; /* Space below the heading */
}

/* Styles for the unordered list */
.banner ul {
    list-style-type: circle; /* Use circle bullets */
    padding-left: 0; /* Left padding reset */
    color: black; /* Text color */
    text-shadow: 2px 2px 2px #ffffff; 
    display: inline-block; /* Align the list in center */
}

/* Styles for list items in the unordered list */
.banner li {
    font-size: 18px; /* Font size */
    margin-bottom: 10px; /* Space between list items */
}

/* Styles for the second banner */
.banner2 {
    background-color: #dcffcc; /* Green background color with opacity */
    margin-top: 20px;
    padding: 20px; /* Padding around the content */
    text-align: center; /* Center align text */
    border: 2px solid green;
}

/* Styles for h1 in the second banner */
.banner2 h1 {
    font-size: 30px; /* Font size */
    color: green; /* Text color */
    text-shadow: 1px 1px 1px #000000; /* Text shadow effect */
    margin-bottom: 20px; /* Space below the heading */
}

/* Styles for the unordered list in the second banner */
.banner2 ul {
    list-style-type: circle; /* Use circle bullets */
    padding-left: 0; /* Left padding reset */
    color: black; /* Text color */
    text-shadow: 2px 2px 2px #ffffff; 
    display: inline-block; /* Align the list in center */
}

/* Styles for list items in the unordered list in the second banner */
.banner2 li {
    font-size: 18px; /* Font size */
    margin-bottom: 10px; /* Space between list items */
}
